<div class="container">
  <h1>Modelos próximos a llegar</h1>
  <div class="row row-cols-3">
    <div class="col" style="text-align: center;">
      <img class="imgti" src="assets/img/01.webp" height="200px">
      <h4>Soueast DX3 Confort</h4>
      <h5>desde $19.990</h5>
    </div>
    <div class="col" style="text-align: center;">
      <img class="imgti" src="assets/img/02.webp" height="200px">
      <h4>Great Wall Wingle 7</h4>
      <h5>desde $23.367</h5>
    </div>
    <div class="col" style="text-align: center;">
      <img class="imgti" src="assets/img/03.webp" height="200px">
      <h4>Deportivo DFSK iX5</h4>
      <h5>desde $20.756</h5>
    </div>
    <div class="col" style="text-align: center;">
      <img class="imgti" src="assets/img/04.webp" height="200px">
      <h4>DFSK 580 SUV de lujo</h4>
      <h5>desde $27.340</h5>
    </div>
    <div class="col" style="text-align: center;">
      <img class="imgti" src="assets/img/05.webp" height="200px">
      <h4>Sedan Soueast A5</h4>
      <h5>desde $16.234</h5>
    </div>
    <div class="col" style="text-align: center;">
      <img class="imgti" src="assets/img/06.webp" height="200px">
      <h4>SUV Grande Soueast DX7</h4>
      <h5>desde $24.300</h5>
    </div>

  </div>
  <br><br><br><br><br><br>
</div>
