<div align="center">
  <img style="margin: 0% auto;" src="assets/img/em.svg" height="90px">
</div>

<br><br><br>
<h2 style="text-align: center;">Administrar Empleados</h2>
<br><br>

<div class="table-responsive">
  <h4>Registrar nuevo Empleado</h4>
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#formModal">
    Nuevo Registro
  </button>
  <br><br><br>
  <hr><br>
  <h4>Empleados Actuales</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cargo</th>
        <th scope="col">Salario</th>
        <th scope="col">Fecha de Contrato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleadoService.empleado">
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.apellido}}</td>
        <td>{{empleado.cargo}}</td>
        <td>{{empleado.salario}}</td>
        <td>{{empleado.fecha_contrato}}</td>
        <td>
          <a data-toggle="modal" data-target="#formModal2" style="cursor: pointer"><i class="material-icons"
              (click)="updateEmpleado(empleado)">Editar</i></a>
        </td>
        <td>
          <a (click)="deleteEmpleado(empleado.id_empleado)" style="cursor: pointer"><i
              class="material-icons">Eliminar</i></a>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="IdmodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="IdmodalLabel">Agregar Empleado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #empleadoForm="ngForm">

            <div class="mb-3">
              <div class="input-group">
                <input class="form-control" type="hidden" name="id_empleado" #id_empleado="ngModel"
                  [(ngModel)]="empleadoService.selectedEmpleado.id_empleado" />
              </div>

              <label>Nombres</label>
              <div class="input-group">
                <input type="text" class="form-control" name="nombre" required placeholder="Nombres del Empleado"
                  maxlength="8" #matricula="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.nombre" />
              </div>

              <label>Apellidos</label>
              <div class="input-group">
                <input type="text" class="form-control" name="apellido" required maxlength="40" required
                  placeholder="Apellidos del empleado" #apellido="ngModel"
                  [(ngModel)]="empleadoService.selectedEmpleado.apellido" />
              </div>
              <label>Cargo</label>
              <div class="input-group">
                <input class="form-control" name="modelo" required maxlength="40" required type="text" required
                  placeholder="Cargo del empleado" #cargo="ngModel"
                  [(ngModel)]="empleadoService.selectedEmpleado.cargo" />
              </div>
              <label>Salario</label>
              <div class="input-group">
                <input type="number" class="form-control" name="salario" required maxlength="20" required
                  placeholder="000.000" #salario="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.salario" />
              </div>
              <label>Fecha de contrato</label>
              <div class="input-group">
                <input class="form-control" type="date" required placeholder="" name="fecha_contrato"
                  #fecha_contrato="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.fecha_contrato" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-dark" [disabled]="!empleadoForm.valid"
            (click)="createEmpleado(empleadoForm)">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="formModal2" tabindex="-1" role="dialog" aria-labelledby="IdmodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="IdmodalLabel">Editar Empleado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #empleadoForm="ngForm">

            <div class="mb-3">
              <div class="input-group">
                <input name="code" class="form-control" type="hidden" name="id_empleado" #id_empleado="ngModel"
                  [(ngModel)]="empleadoService.selectedEmpleado.id_empleado" />
              </div>

              <label>Nombres</label>
              <div class="input-group">
                <input type="text" class="form-control" name="nombre" required placeholder="Nombres del Empleado"
                  maxlength="8" #matricula="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.nombre" />
              </div>

              <label>Apellidos</label>
              <div class="input-group">
                <input type="text" class="form-control" name="apellido" required maxlength="40" required
                  placeholder="Apellidos del empleado" #apellido="ngModel"
                  [(ngModel)]="empleadoService.selectedEmpleado.apellido" />
              </div>
              <label>Cargo</label>
              <div class="input-group">
                <input class="form-control" name="modelo" required maxlength="40" required type="text" required
                  placeholder="Cargo del empleado" #cargo="ngModel"
                  [(ngModel)]="empleadoService.selectedEmpleado.cargo" />
              </div>
              <label>Salario</label>
              <div class="input-group">
                <input type="number" class="form-control" name="salario" required maxlength="20" required
                  placeholder="000.000" #salario="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.salario" />
              </div>
              <label>Fecha de contrato</label>
              <div class="input-group">
                <input class="form-control" type="date" required placeholder="" name="fecha_contrato"
                  #fecha_contrato="ngModel" [(ngModel)]="empleadoService.selectedEmpleado.fecha_contrato" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" [disabled]="!empleadoForm.valid"
            (click)="createEmpleado(empleadoForm)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
