<div align="center">
  <img class="imgti" src="assets/img/ad.svg" height="70px">
</div>
  <br><br><br>
  <h2 style="text-align: center;">Administra los componentes</h2>
  <br><br>
<div class="container">
  <div class="row">
    <div class="col">


      <div class="plan1" type="button" routerLink="/cliente" routerLinkActive="active">
        <div class="con">
          <br><br>
          <h4 style="font-size: 30px;">Clientes</h4><br>
          <img style="opacity: 5;" src="assets/img/cli.svg" height="100" alt="">
          <br>
          <br>
          <p>Gestionar los clientes actuales o añadir uno nuevo</p>
          <br><br>
        </div>
      </div>
    </div>


    <div class="col">

      <div class="plan2" type="button" routerLink="/vehiculo"
      routerLinkActive="active">
        <div class="con">
          <br><br>
          <h4 style="font-size: 30px;">Vehiculos</h4><br>
          <img style="opacity: 5;" src="assets/img/vehi.svg" height="100" alt="">
          <br>
          <br>
          <p>Gestionar los vehiculos actuales en venta o registrar</p>
          <br><br>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col">

    <div class="plan3" type="button" routerLink="/proveedor" routerLinkActive="active">
      <div class="con">
        <br><br>
        <h4 style="font-size: 30px;">Proveedores</h4><br>
        <img style="opacity: 5;" src="assets/img/pro.svg" height="110" alt="">
        <br>
        <br>
        <p>Gestionar los proveedores
        </p>
        <br><br>
      </div>
    </div>


  </div>
  <div class="col">

    <div class="plan4" type="button" routerLink="/empleado" routerLinkActive="active">
      <div class="con">
        <br><br>
        <h4 style="font-size: 30px;">Empleados</h4>

        <br>
        <img style="opacity: 5;" src="assets/img/emple.svg" height="85" alt="">
        <br>
        <br>
        <p>Gestiona los empleados pertenecientes a SEK Automotores</p>
        <br><br>
      </div>
    </div>


  </div>
  <div class="col">

    <div class="plan5" type="button" routerLink="/ventas" routerLinkActive="active">
      <div class="con">
        <br><br>
        <h4 style="font-size: 30px;">Ventas</h4><br>
        <img style="opacity: 5;" src="assets/img/ventas.svg" width="150" height="110" alt="">
        <br>
        <br>
        <p>Registra o gestionar ventas</p>
        <br><br>
      </div>
    </div>



  </div>
</div>
<br><br><br><br>
